@model Opdracht_S6_ASPSEC_06.Models.ToetsResultaat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ToetsResultaat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vak.VakId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cijfer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cijfer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ResultaatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
